@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Nunito');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous');
/*
#928B10
#5F5C27
#464208
#928E3C
#DFD419
-------
#471E5B
#3C2265
#241E4E
#222B65
#1E375B
-------
#632581
#A78DB4
#241E4E
#5B533A
#816225

*/
body{
	background-image: url('../Imagens/mooning2.png');
	margin: 0;
}

.anime {
	opacity: 0;
	transform: translate3D(0px, -50px, 0px);
}
.anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: 1s all ease;
}
/*
	padding: .5% 7%;
	left: 3.5%;
	right: 3.5%;
*/
#tudo{
	color: #241E4E;
	position: absolute;
	font-family: "Nunito";

}

.titulo{
	font-family: "Titillium Web";
	font-size: 33pt;
	font-weight: 550;
	text-shadow: -2px 2px 4px black;
	text-align: center;
	color: #471E5B;
	display: block;
	border-bottom: 6px double #471E5B;
}

#cima{
	width: 100%;
	position: relative;
	height: 600px;
	text-align: center;
}

#fundo{
	background: url('../Imagens/logog2.jpg') repeat-x fixed top;
	width: 100%;
	height: 80%;
	position: absolute;
}

#menu {
	padding: 3px 0;
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9;

}

#menu a{
	text-decoration: none;
	padding: 12px 40px;
	border-radius: 6px;
    background-color: #222B65;
    color: #fffff6;
    transition: all .3s ease;
	z-index: 9;

}#menu a:hover{
    background-color: #471E5B;
	padding: 21px 40px;
    color: white;
	z-index: 9;
}#menu a:active{
    background-color: #241E4E;
	z-index: 9;
}

#row:after {
    content: "";
    display: table;
    clear: both;
}

.coluna{
	width: 24%;
	padding: 1.3%;
	margin: 2%;
	float: left;
	text-align: justify;
}
.texto{
	margin: 3%;
	text-align: justify;
}

.coluna a {
	text-decoration: none;
	padding: 12px 20px;
	border-radius: 4px;
	border: 1px solid #241E4E;
    color: #3C2265;
    cursor: pointer;
}.coluna a:hover{
    transition: all .3s ease;
    background-color: rgba(70,67,8,.2);
    color: white;
}.coluna a:active{
    background-color: rgba(70,67,8,.4);
}

#map {
	width: 100%;
    height: 500px;
    margin-top: 30px;
}
#row-contato:after{
    content: "";
    display: table;
    clear: both;
}

.coluna-contato{
	width: 28%;
	border: 3px solid #471E5B;
	margin: 11% 2%;
	float: left;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0px 0px 5px;
}
.coluna-contato p{
	font-size: 14pt;
	color: #3C2265;
}
form p {
	font-weight: 900;
	margin-bottom: 2px;
}
.form-column{
	display: block;
	float: left;
	width: 45%;
	padding: 15px;
}
.form-column input{
	background: none;
	border-color: #241E4E;
}

fieldset{
	border: none;
}

.entrada{
	width: 90%;
	font-style: italic;
	padding: 10px;
	margin-left: 20px;
	border-radius: 4px;
	display: block;
}

#double{
	float: left;
	width: 100%;
}#tel{
	width: 60%;
	position: relative;
	display: block;
	float: left;
}
#age{
	width: 20%;
	display: block;
	position: relative;
	float: right;
	right: 8%;
}
[type=radio], [type=checkbox] {
	display: none;
}

.radio-btn label{
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
}

.radio-btn label:before{
	content: '';
	margin-right: 8px;
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1px solid #241E4E;
	border-radius: 50%;
}
.radio-btn input:checked + label:before {
	transition: all .25s ease;
	border: 1px solid #241E4E;
	background: #241E4E;
}
.check-btn label{
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
}
.check-btn label:before{
	content: '';
	margin-right: 8px;
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1px solid #241E4E;
	border-radius: 2px;
	transition: all .12s, border-color .08s;
}
.check-btn input:checked + label:before {
	width: 5px;
	height: 9px;
	border: 2px solid #241E4E;
	border-top-color: transparent;
	border-left-color: transparent;
	transform: rotate(45deg);
}

[type=file]{
	display: none;
}

[for=file]:after{
	content: 'Upload';
	width: 54px;
	margin-left: 8px;
	padding: 12px 20px;
	border-radius: 4px;
	border: 1px solid #241E4E;
    color: #241E4E;
    cursor: pointer;
}

.msgSuccess{
	width: auto;
	height: 50px;
	padding-top: 30px;
	margin-bottom: 30px;
	background: rgba(0,200,0,.1);
	color: green;
	border-radius: 5px;
	display: block;
	text-align: center;
}

.msgFailure{
	display: block;
	background: rgba(200,100,100,.5);
	color: red;
	width: auto;
	height: 50px;
	padding-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	text-align: center;
}

#enviar {
	text-decoration: none;
	padding: 12px 20px;
	border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #241E4E;
    border: none;
    left: 90%;
    position: relative;
}#enviar:hover{
    transition: all .3s ease;
    background-color: #632581;
    color: white;
}#enviar:active{
    background-color: #A78DB4;
}

footer{
	padding: 1% 4%;
	margin-top: 5px;
	background-color: #0D0B1C;
	text-align: right;
}

#632581
#A78DB4
#241E4E